<nb-card>
  <nb-card-header>
    <span>Compresor</span>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="archivoForm">
      <div class="row">
        <div class="col-sm-6">
          <span>Ingrese su archivo en formato .txt, el compresor lo regresará en .bin</span>
        </div>
        <div class="col-sm-6">
          <label for="archivo" class="label">Ingrese su archivo .txt</label>
          <input type="file" name="archivo" id="archivoTxt" nbInput placeholder="Ingrese su archivo" fullWidth formControlName="archivoTxt">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <span>Ingrese su archivo en formato .bin, el descompresor lo regresará en .txt</span>
        </div>
        <div class="col-sm-6">
          <label for="archivo" class="label">Ingrese su archivo .bin</label>
          <input type="file" name="archivo" id="archivoBin" nbInput placeholder="Ingrese su archivo" fullWidth formControlName="archivoBin">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button nbButton (click)="comprimir()" status="default">Comprimir</button>
          <button nbButton (click)="descomprimir()" status="default">Descomprimir</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
